{{#if isEditing}}

  <form class="form">
    <div class="header">
      Edit
    </div>

    {{input
      value=form.name
      placeholder="Name"
      autocomplete="off"
    }}
  </form>

  <div class="actions">
    <div>
      <button {{action "update" model}}>Update</button>
      <button {{action (mut isEditing) false}}>Cancel</button>
    </div>
  </div>

{{else}}


  <div class="object object--detail">
    <div class="object-title">
      {{model.name}}
    </div>
    <div class="object--author">
      {{model.created}}
    </div>
    <div class="object--description">
      TODO: Include notes
    </div>
  </div>

  <div class="actions {{if confirmingDelete "u-justify-space-between"}}">

    {{#if confirmingDelete}}

      <div class="u-text-danger">
        Are you sure you want to delete this client?
      </div>

      <div>
        <button {{action "delete" model}}>Delete</button>
        <button {{action (mut confirmingDelete)false}}>
          Cancel
        </button>
      </div>

    {{else}}

      <div>
        <button {{action (mut isEditing) true}}>Edit</button>
        <button {{action (mut confirmingDelete) true}}>Delete</button>
      </div>

    {{/if}}
  </div>
{{/if}}
